@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar-custom {
  @include transition(all, 0.3s, ease);
  padding: 1rem 0;
  background-color: #fff;
  padding: 0.5rem 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-color;
    @include transition();

    &:hover {
      color: $accent-color !important;
    }
  }

  .navbar-nav {
    .nav-link {
      font-weight: 600;
      font-size: 19px;
      color: $text-dark;
      margin: 0 0.5rem;
      padding: 0.5rem 1rem !important;
      border-radius: 25px;
      @include transition();

      &:hover,
      &.active,
      &:focus {
        text-decoration: underline;
        text-underline-offset: 6px;
      }
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0.25rem 0.5rem;
    position: relative;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .close-icon {
      font-size: 2rem;
      line-height: 1;
      color: $text-dark;
      font-weight: 300;
      display: block;
    }
  }

  &.navbar-scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  // Mobile responsive adjustments
  @include media-breakpoint-down(lg) {
    .navbar-custom {
      .navbar-nav {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 1rem;
        margin-top: 1rem;
        box-shadow: $box-shadow;

        .nav-link {
          margin: 0.25rem 0;
          text-align: center;
          color: $text-dark !important;

          &:hover {
            color: $accent-color !important;
          }
        }
      }
    }
  }
}
